/** @format */

:root {
  --red: #ed0f14;
}

.App {
  text-align: center;
  color: wheat;
  background-color: var(--red);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.one-character {
  margin: 10px;
  padding: 15px;
  border: solid 2px wheat;
}
.marvel-img {
  width: 100%;
}
h1 {
  color: wheat;
  font-size: 50px;
}
.input-search {
  font-size: 25px;
  margin: 20px;
  padding: 5px;
  border: solid 3px wheat;
  border-radius: 20%;
}
/* PHONE VERSION */

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-column: 100%;
  }
  .one-character {
    padding: 10px;
    margin: 20px;
  }
}

/* TABLET VERSION */
@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
